{
    "root": true,
    "extends": [
        "plugin:vue/essential"
    ],
    "rules": {
        "eol-last": ["error", "always"],
        "indent": ["error", "tab", { "SwitchCase": 1 }],
        "quotes": ["error", "single"],
        "no-tabs": 0,
    }
}
