@import "~@/assets/scss/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

* {
	// @include user-select(none);
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

a {
	&.disabled {
		cursor: default;
		pointer-events: none;
	}
}

textarea {
	resize: none;
}

[v-cloak] {
	.v-cloak--hidden {
		display: none;
	}
}

.main {
	-webkit-backface-visibility: hidden; // stylelint-disable-line

	// animation: gradient 30s linear infinite;
	background: linear-gradient(
		320deg,
		get-color(carnaby-tan),
		get-color(cioccolato),
		get-color(kenyan-copper),
		get-color(carnaby-tan)
	);
	// background-size: 600% 600%;
	height: 99vh;
	transform: translateZ(0);
}

.content {
	height: 100vh;
	width: 100vw;
}

/* Custom page footer */
.footer {
	border-top: 1px solid map-get($colors, "gallery-grey");
	color: map-get($colors, "boulder");
	padding-top: 1rem;
}

.container-narrow > hr {
	margin: 30px 0;
}

.nav,
.pagination,
.carousel,
.panel-title a {
	// sass-lint:disable-line force-element-nesting
	cursor: pointer;
}

/* Responsive: Portrait tablets and up */
@media (min-width: #{$container-tablet}) {
	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer {
		padding-left: 0;
		padding-right: 0;
	}
}
