@import "~@/assets/scss/variables";
@import "~@/../node_modules/bootstrap/scss/mixins/breakpoints";

$card-height: (
	small: 158,
	medium: 158,
);

$card-width: (
	small: 120,
	medium: 120,
);

@import "~@/components/Card/card";

$deck-height: 8 !default;

.deck-container {
	$height: map-get($card-height, "small") + $deck-height;

	align-items: center;
	display: flex;
	flex: 0 0 30%;
	flex-direction: column;
	margin: 0.5rem;
	position: relative;

	.deck-label {
		color: $white;
		font-size: 1.25em;
	}

	.deck {
		@extend %playing-cards;

		border: 2px dashed map-get($colors, "red");
		height: rem-calc($height);
		margin-top: 0.5rem;
		text-align: center;
		width: 100%;

		&:not(.disabled) {
			cursor: pointer;
		}

		&.empty {
			&::before {
				content: "";
				font-size: rem-calc(map-get($card-width, "small") - 7);
			}
		}

		.cards-group {
			align-items: center;
			display: flex;
			height: inherit;
			justify-content: center;
		}
	}

	@include media-breakpoint-up(md) {
		$height: map-get($card-height, "medium") + $deck-height;

		.deck {
			height: rem-calc($height);
		}
	}
}
