@import "~@/assets/scss/variables";
@import "~@/../node_modules/bootstrap/scss/mixins/breakpoints";
@import "~@/components/Card/card";

$deck-height: 8 !default;

.deck-container {
	$height: map-get($card-height, "small") + $deck-height;

	align-items: center;
	display: flex;
	flex: 0 0 15%;
	flex-direction: column;
	margin-right: 1rem;
	padding: 0.25rem;
	position: relative;

	.deck-label {
		color: $white;
		font-size: 1.25em;
	}

	.deck {
		@extend %playing-cards;

		height: 100%;
		padding-top: 0.5rem;
		width: auto;

		&.empty::before {
			content: "X";
			font-size: 8rem;
		}

		.cards-group {
			height: rem-calc($height);
			width: rem-calc(map-get($card-width, "small"));

			&:not(.disabled) {
				cursor: pointer;
			}
		}
	}

	@include media-breakpoint-up(md) {
		$height: map-get($card-height, "medium") + $deck-height;

		.deck {
			.cards-group {
				height: rem-calc($height);
				width: rem-calc(map-get($card-width, "medium"));
			}
		}
	}
}
