.btn-primary {
	background-image: linear-gradient(to bottom, lighten(map-get($colors, "bronze"), 10%), map-get($colors, "sambuca"));
	border-color: $border-color;
	border-width: 2px;
	box-shadow: 5px 5px 10px 0 rgba($black, 0.25)
}
