@import "~@/../node_modules/bootstrap/scss/functions";

$font-size-base: 1rem !default;

@function convert-to-rem($value, $base-value: $font-size-base) {
	$value: strip-unit($value) / strip-unit(16px) * 1rem;

	@if ($value == "0rem") {
		// Turn 0rem into 0
		$value: 0;
	}

	@return $value;
}

/**
 * Return a color from the $colors map, if it exists
 *
 * @param  {String} $color The color value to select from map
 * @return {String}        The color value found in map, or CSS color
 */
@function get-color($color) {
	@if (map-has-key($colors, $color)) {
		@return map-get($colors, $color);
	}

	@return $color;
}

/**
 * Convert font-size from px to rem with px fallback
 *
 * Call with 1, 2, 3 or 4 parameters, 'px' is not required but supported:
 *    rem-calc(10 20 30px 40);
 *
 * Space delimited, if you want to delimit using comma's, wrap it in another pair of brackets
 *    rem-calc((10, 20, 30, 40px));
 *
 * Optionally call with a different base (eg: 8px) to calculate rem.
 *    rem-calc(16px 32px 48px, 8px);
 *
 * If you require to comma separate your list
 *    rem-calc((16px, 32px, 48), 8px);
 */
@function rem-calc($values, $base-value: $font-size-base) {
	$max: length($values);

	@if $max == 1 {
		@return convert-to-rem(nth($values, 1), $base-value);
	}

	$rem-values: ();

	@for $i from 1 through $max {
		$rem-values: append(
			$rem-values,
			convert-to-rem(nth($values, $i), $base-value)
		);
	}

	@return $rem-values;
}

/**
 * It strips the unit of measure and returns it
 */
@function strip-unit($num) {
	@return $num / ($num * 0 + 1);
}
