%center-horizontal {
	left: 50%;
	position: absolute;
	transform: translate3d(-50%, 0, 0);
}

%center-vertical {
	position: absolute;
	top: 50%;
	transform: translate3d(0, -50%, 0);
}

%center {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
}

@mixin animation-pulse() {
	animation-duration: 1.25s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-name: pulse;
}

@mixin blink() {
	animation-duration: 1.25s;
	/**
	* This makes sure that the starting style (opacity: .2)
	* of the animation is applied before the animation starts.
	* Otherwise we would see a short flash or would have
	* to set the default styling of the dots to the same
	* as the animation. Same applies for the ending styles.
	*/
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-name: blink;

	transform: translateZ(0);
}

@mixin clearfix() {
	&::after {
		clear: both;
		content: "";
		display: block;
	}
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin fallback-font-size($size) {
	font-size: $size;
	// stylelint-disable
	font-size: rem-calc($size);
}

@mixin flip-card($flip-speed: 0.5s, $flip-delay: 0.5s) {
	.card {
		animation-fill-mode: forwards;
		backface-visibility: hidden;
		transform: rotateY(180deg);
	}

	.btn-card {
		.card {
			animation: spin $flip-speed forwards ease-out;

			@content;
		}
	}
}
