%center-horizontal {
	left: 50%;
	position: absolute;
	transform: translate3d(-50%, 0, 0);
}

%center-vertical {
	position: absolute;
	top: 50%;
	transform: translate3d(0, -50%, 0);
}

%center {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
}

@mixin animation-pulse() {
	animation-name: pulse;
	animation-duration: 1.4s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
}
@mixin clearfix() {
	&::after {
		display: block;
		content: "";
		clear: both;
	}
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin fallback-font-size($size) {
	font-size: $size;
	font-size: rem-calc($size);
}

@mixin flip-card($type: "action") {
	.card {
		animation-fill-mode: forwards;
		backface-visibility: hidden;

		&.blank-- {
			animation-duration: 3s;
			animation-name: spin;
			animation-timing-function: linear;
		}
	}

	[card-type="#{$type}"] {
		.card {
			animation-delay: 2.5s;
			animation-duration: 0.5s;
			animation-name: spin-reverse;
			animation-timing-function: ease-out;
			transform: rotateY(-90deg);

			@content;
		}
	}

	&.instant {
		.card {
			animation-delay: 0.2s;

			&.blank-- {
				animation-duration: 0.25s;
			}
		}
	}
}
